{% extends "base_generic.html" %}

{% block content %}
  <h1>Player List</h1>
  {% if player_list %}
  <ul>
    {% for player in player_list %}
      <h4>Player: {{player.player_name}}</h4>
      <li>
        <a href="{{ player.get_absolute_url }}">Detail</a>
      </li>
      <li>
        <a href="{% url 'player-update' player.pk %}">Update</a>
      </li>
      <li>
        <a href="{% url 'player-delete' player.pk %}">Delete</a>
      </li>
    {% endfor %} 
    <h1> </h1>
    <li>
        <a href="{% url 'player-create'%}">Create New Player</a>
    </li>
  </ul>
  {% else %}
    <p>There are no players now.</p>
  {% endif %} 
{% endblock %}