{% extends "base_generic.html" %}

{% block content %}
    <h1>Your role is:</h1>

    {% if player_obj %}
    <ul>

      {% for player in player_list %}
      <li class="{% if player.is_Merlin %}text-danger{% endif %}">
        {% for p in player_list %}
        {% if player.Merlin_Vision %}
            <a href="{% url 'room-detail' player.room.pk %}">{{player.room}}</a> ({{ player.role}})
            <p>{{ player.player_name }} -- {{ player.id }}</p>
        {% endif %}
        {% endfor %}

      </li>
      <li class="{% if player.is_Morgana %}text-danger{% endif %}">
        <a href="{% url 'room-detail' player.room.pk %}">{{player.room}}</a> ({{ player.role}})
      </li>
      {% endfor %}
    </ul>

    {% else %}
      <p>No role found. </p>
    {% endif %}
{% endblock %}