{% extends "base_generic.html" %}

{% block content %}
  <h1>Room id: {{ room.room_id }}</h1>
  <p><strong>Max player number:</strong> {{ room.max_num }}</p>
  <p><strong>Lady in the lake: <font size="3" color="#ff8c00">{{ room.Lady_in_the_lake|yesno:'YES,NO,UNKNOWN' }}</font></strong> </p>
    <p><strong>status:</strong> <font size="3" color="#008b8b">{{ room.status }}</font></p>

  <div style="margin-left:20px;margin-top:20px">
    <h4>Players' Vote:</h4>

    {% for copy in room.player_set.all %}
      <hr>
      <p><strong>{{ copy.id }}.{{ copy.player_name }} Vote: </strong></p>
      <p class="{% if copy.vote_agree %}text-success{% else %}text-danger{% endif %}">
        {{ copy.get_vote_display }}
      </p>

    {% endfor %}
  </div>
{% endblock %}